:root {
  --Dashboard-maxWidth: 52em;
  --gap: 2em;
  --border-color: black;
}

/**
 * Dashboard groups one or more items into a single view.
 * It is also sign-in aware, so it shows a message to authorize
 * if the user is not signed in.
 */

.Dashboard {
  background: hsla(0,0%,100%,.75);
  border: 1px solid hsla(0,0%,0%,.075);
  border-radius: 4px;
  min-height: 10em;
  margin-bottom: var(--gap);
  max-width: var(--Dashboard-maxWidth);
  padding: var(--gap);
  position: relative;
}

.Dashboard > * {
  opacity: .03;
}


.Dashboard-header {
  border-bottom: 1px solid var(--border-color);
  margin: -var(--gap) -var(--gap) var(--gap);
  padding: var(--gap);
}


.Dashboard--full {
  max-width: 100%;
}



